<!DOCTYPE html>
<html lang="en">
<body>
    <div class='row'>
        <div class='col-md-5'>
            <ul>
            {% for news_articles in articles %}
            <p><strong>{{news_articles.name.name}}</strong></p>
            <p>Story By: {{news_articles.author}}</p>
            <p>{{news_articles.description}}</p>
            <span class="label label-primary"><a class='fnt' href={{news_articles.url}} target="iframe_a">View more details..</a></span>
            <br><br>
            <img src='{{news_articles.urlToImage}}'width ="200" height ="200" alt="IMAGE LOADING...">
            <p>Posted on : {{news_articles.publishedAt}}</p>
            <p>{{news_articles.content}}</p>
            {% endfor %}
            </ul>
        </div>
        <div class='col-md-7'>
            <iframe height="100%" width="100%" name="iframe_a"></iframe>
        </div>
    </div>
              
</body>
</html>