<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Document</title>
</head>
    <body>
        
    <ul class="nav navbar-nav">
        <div class="container-fluid">
            <div class="col-md-12">
                <span class="label label-primary"><a href="/">Home</a></span>
                <span class="label label-primary"><a href="/newsarticle">News Articles</a></span>
                <span class="label label-primary"><a href="/newssource">News Sources</a></span>
            </div>
        </div>
    </ul>
    
    {% block content %}

    {% endblock %}
    </body>
</html>