<div id="menu-wrapper" class="navbar-wrapper">
        <div class="inner-container">
            <div id="navigation-bar" class="navbar navbar-inverse navbar-static-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <div>
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a id="logo" class="navbar-brand" href="index.html"><img class="" src="images/logo.png"
                                                                                     alt=""></a>
                        </div>
                    </div>
                    <div id="menu" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-left">
                            <li class="active home"><a href="/"> Home</a></li>
                            <li class="service"><a href="/cnn">CNN News</a></li>
                            <li class="service"><a href="/aljazeera">Al-JAZEERA News</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    