<!-- <html lang="en"> -->
<!-- <body> -->
<div class='row'>
    <div class='card'>
        <ul>
        {% for news_articles in articles %}
        <p><strong>{{news_articles.name.name}}</strong></p>

        <div class="card">
        <img class="card-img-top" src="{{news_articles.urlToImage}}" alt="Card image">
       
        <div class="card-body">
        <p>Story By: {{news_articles.author}}</p>
        <p>{{news_articles.description}}</p>
        <span class="label label-primary"><a href={{news_articles.url}}>Go to full article</a></span>
        <p>Posted on: {{news_articles.publishedAt}}</p>
        <p>{{news_articles.content}}</p>
        </div>
        </div>
        {% endfor %}
        </ul>
    </div> 
</div>